html {
  scroll-behavior: smooth; 
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #EAF9DC;
	margin: 0; 
	padding: 0;
	font-family: Helvetica, sans-serif;
	min-height: 100vh;
}

.nav-list {
	display: flex;
	justify-content: center;
  align-items: center;
	list-style: none;
}

.nav-link {
	color: #4A4A4A;
	text-decoration: none;
	font-size: 18px;
	padding: 0 10px;
  line-height: 50px;
}

.nav-link:hover {
	color: #8FC858;
}

.container {
	display: flex;
	max-width: 1024px;
	margin: 0 auto;
}

.userpic {
	display: block;
	width: 250px;
	margin: 0 auto;
	border: 5px solid #8FC858;
	border-radius: 25px;
}

.my-info {
	display: inline-block;
	width: 30%;
	min-width: 260px;
	padding: 30px 20px;
	color: #4A4A4A;
	background-color: #D1F9AB;
}

.link {
	color: #4A4A4A;
	text-decoration: none;
	padding: 3px;
}

.link:hover {
	color: #030303;
	border-radius: 3px;
	background-color: #8FC858;
}

.summary {
	display: inline-block;
	width: 61%;
	padding: 30px 20px;
	color: #4A4A4A;
	background-color: #FFFFFF;
}

.section > ul > li {
	list-style-type: circle;
}

.section-title {
	font-size: 20px;
	line-height: 1.5;
	border-bottom: 2px solid #7EB747;
}

pre {
	background-color: #F0F0F0;
	padding: 0 20px;
}

.code{
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
}

.footer {
	margin: 0 auto;
}

.footer-content {
	display: flex;
	justify-content: center;
	margin: 10px;
	height: 100px;
}

.year {
	font-size: 45px;
	font-weight: bold;
	writing-mode: vertical-lr;
}